<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Us!</h2>
                <hr class="light">
                <p class="text-faded">If you've found your way to this site, you likely know us pretty well!  If you're still readying this, Liz and Mike met in 2015 via an online dating app called Coffee Meets Bagel.  Ironically, both Liz and Mike saw the app on ABC's Shark Tank™! </p>
                <a href="#wedding" class="btn btn-default-primary btn-xl page-scroll">The Wedding!</a>
            </div>
        </div>
    </div>
</section>
