<section class="bg-primary" id="accomodations">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Accomodations!</h2>
                <hr class="light">
                <p class="text-faded">We’ve booked two hotel blocks near the venue and we’ll be running transportation to and from the reception venue.
                  We’d love for you to take advantage of these locations for you to enjoy the party.</p>
                {% google_map src="_data/maps" width="100%" height="400" class="accomodations" %}
                <p class="text-faded">
                  <h4 class="hotel-name">Fairfield Inn and Suites (Marriott)</a></h4>
                  ($159 per night for double queen)<br />
                  Please mention the Splain/Freeman wedding block or use the link below in order to receive the discounted price.  Rooms are available on Friday and Saturday night.
                  <br /><br />
                  NOTE: The bride and groom will be meeting at Recovery Sports Grill on the Marriott property after the rehearsal dinner on Friday night.  Join us for a drink!
                </p>
                <a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Splain%20Freeman%20Wedding%5Esyrvr%60SFWSFWA%60159.00%60USD%60false%604%6010/13/17%6010/15/17%609/22/17&app=resvlink&stop_mobi=yes" target="_blank" class="btn btn-default-primary btn-xl page-scroll">Book Here</a>
                <p class="text-faded">
                  <h4 class="hotel-name">Microtel Inn</h4>
                  ($118 per night for double queen)<br />
                  Please mention the Freeman/Splain wedding block in order to receive the discounted price.  Reservations can be made at 877-361-2512. If asked, the confirmation number is as follows:  # 74585717.
                </p>
                <a href="https://www.wyndhamhotels.com/microtel/verona-new-york/microtel-inn-and-suites-verona/overview" target="_blank" class="btn btn-default-primary btn-xl page-scroll">Book Here</a>
            </div>
        </div>
    </div>
</section>
