<section class="bg-primary" id="ceremony">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Ceremony</h2>
                <hr class="light">
                <p class="text">
                  The ceremony will be held at 2pm on October 14th, 2017 at Our Lady of Lourdes Catholic Church in Utica NY.
                  <br /><br />
                  Our Lady of Lourdes Catholic Church<br \>
                  2222 Genessee Street<br \>
                  Utica, NY
                </p>
            </div>
        </div>
    </div>
</section>
