<section class="bg-primary" id="ceremony">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Ceremony</h2>
                <hr class="light">
                <p class="text">
                  The ceremony will be held at 2pm on October 14th, 2017 at Our Lady of Lourdes Catholic Church in Utica NY.
                  <br /><br />
                  <a href="https://www.google.com/maps/place/Church+of+Our+Lady+of+Lourdes/@43.0834003,-75.2711495,17z/data=!3m1!4b1!4m5!3m4!1s0x89d9413f8b9534bb:0x119898958df6d0e9!8m2!3d43.0834003!4d-75.2689608" target="_blank">Our Lady of Lourdes Catholic Church<br \>
                  2222 Genessee Street<br \>
                  Utica, NY</a>
                </p>
            </div>
        </div>
    </div>
</section>
