<section class="no-padding" id="photos">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-3 col-sm-6 portfolio-box">
                <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-name">
                            Paint Night
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 portfolio-box">
                <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-name">
                            Satterthwaite/Freiman Wedding
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 portfolio-box">
                <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-name">
                            Salem, MA
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 portfolio-box">
                <img src="img/portfolio/7.jpg" class="img-responsive" alt="">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-name">
                            Halloween 2015
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
