<section class="no-padding" id="photos">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-3 col-sm-6 portfolio-box">
                <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-name">
                            Lawn on D
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 portfolio-box">
                <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-name">
                            New Years, 2015
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 portfolio-box">
                <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-name">
                            Montreal
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 portfolio-box">
                <img src="img/portfolio/8.jpg" class="img-responsive" alt="">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-name">
                            Menlo Park, CA
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
