<section id="reception">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Reception!</h2>
                <hr class="primary">
                <p class="text">
                  Cocktails, dinner, and dancing will begin at 5pm at The Cannery in Vernon NY.  This venue operated as Ward’s Canning Company in the early 1900’s.
                </p>
                <p class="text">
                  Bussing will be provided to and from the Fairfield Inn &amp; Suites and Microtel. Shuttles will depart both hotels at 4:45pm, 5:10pm, and 5:35pm.  Return shuttles will begin at 9:45pm.
                </p>
                <p class="text">
                  <a href="https://www.google.com/maps/place/The+Cannery+Barn/@43.0808656,-75.5353049,17.53z/data=!4m5!3m4!1s0x89d971e73b17c8b9:0xa0eff4279054c727!8m2!3d43.080909!4d-75.534457" target="_blank">The Cannery<br \>
                  1 Ward St.<br \>
                  Vernon NY.</a>
                </p>
            </div>
        </div>
    </div>
</section>
