<section id="reception">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Reception!</h2>
                <hr class="primary">
                <p class="text">
                  The reception will take place in the evening at The Cannery in Vernon NY.  This venue operated as Ward’s Canning Company in the early 1900’s.  It’s currently under renovation to convert it to a new wedding venue.  Fingers crossed!
                </p>
                <p class="text">
                  Bussing will be provided to and from the Fairfield Inn and Suites and Microtel.  Please refer to the “Accommodations” section for Wedding Block information.
                </p>
                <p class="text">
                  Details to follow.
                </p>
            </div>
        </div>
    </div>
</section>
