<section id="registry">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Registry</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 text-center">
                <a class="link" target="_blank" href="http://zola.com">
                    <div class="service-box">
                          <i class="fa fa-4x fa-heart wow bounceIn text-primary"></i>
                          <h3 class="nodecorate">Zola</h3>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <a class="link" target="_blank" href="http://target.com">
                    <div class="service-box">
                        <i class="fa fa-4x fa-dot-circle-o wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Target</h3>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <a class="link" target="_blank" href="http://amazon.com">
                    <div class="service-box">
                        <i class="fa fa-4x fa-amazon wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Amazon</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
