<section id="thingstodo">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Things to do!</h2>
                <hr class="primary">

                <h3>For Art Lovers</h3>
                <p class="text-muted">
                  Founded in 1919, <strong>Munson-Williams</strong> has been the destination for countless school field trips!
                  It houses an impressive collection of artwork and the school is associated with the Pratt school of art in N.Y.C.
                  Also be sure to check out Fountain Elms which was the private residence of the founding family and is located on the same property.
                </p>
                <a href="http://www.mwpai.org" target="_blank" class="btn btn-primary btn-xl page-scroll">Munson-Williams</a>

                <hr class="primary">
                <p></p>
                <h3>For Animal Lovers</h3>
                <p class="text-muted">
                  Visit the <strong>Utica Zoo!</strong>  It’s family fun for everyone, at the Utica Zoo!
                  <br />
                  (Also- as a point of interest… the Utica Zoo is home to the World’s Largest Watering Can!!  Be sure to check it out and snap a photo before you leave.)
                </p>
                <a href="http://uticazoo.org" target="_blank" class="btn btn-primary btn-xl page-scroll">Utica Zoo</a>

                <hr class="primary">
                <p></p>

                <h3>For Beer Lovers</h3>
                <p class="text-muted">
                  There’s multiple places to visit in the Utica area!  Head to <strong>Woodland Hop Farm and Fermentation</strong> if you want a from the roots Micorbrewery/Beer Garden feel.  (Its BYOF!)
                </p>
                <a href="http://www.woodlandbeer.com" target="_blank" class="btn btn-primary btn-xl page-scroll">Woodland Hop Farm and Fermentation</a>
                <p></p>
                <p class="text-muted">
                  If you have time to schedule a tour- <strong>Saranac’s</strong> your spot.  They sport a quality beer list in a historic building in the heart of downtown Utica.  They are the second oldest family-owned brewery in the U.S. after Yeungling.  So while we can’t best the Philadelphia crowd we’re a close second!
                </p>
                <a href="https://www.saranac.com" target="_blank" class="btn btn-primary btn-xl page-scroll">Saranac Brewery</a>

                <hr class="primary">
                <p></p>

                <h3>For Spirits Lovers</h3>
                <p class="text-muted">
                  We’ve never actually visited this spot but we've heard great things about <strong>Adirondack Distilling</strong>!  It would be a nice change of pace from beer scene.  Be sure to make a reservation if you’d like a tour!
                </p>
                <a href="http://www.adirondackdistilling.com" target="_blank" class="btn btn-primary btn-xl page-scroll">Adirondack Distilling</a>

                <hr class="primary">
                <p></p>

                <h3>For Risk Lovers</h3>
                <p class="text-muted">
                  For the risk inclined there are a couple of casinos close to the hotel.  Let luck be a lady!                </p>
                <a href="https://www.turningstone.com" target="_blank" class="btn btn-primary btn-xl page-scroll">Turning Stone</a>
                <a href="https://www.vernondowns.com" target="_blank" class="btn btn-primary btn-xl page-scroll">Vernon Downs</a>
            </div>
        </div>
    </div>
</section>
