<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  {% include header.html %}
  {% include schedule.html %}
  {% include about-us.html %}
  {% include wedding.html %}
  {% include photos.html %}
  {% include accomodations.html %}
  {% include registry.html %}
  {% include spacer.html %}
  {% include thingstodo.html %}
  {% include ceremony.html %}
  {% include reception.html %}
  {% include photos2.html %}
  <!-- {% include subscribe.html %} -->
  {% include contact.html %}
  {% include scripts.html %}
</body>

</html>
